.autocomplete-container {
    position: relative;
  }
  
  .suggestions-list {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    width: 100%;
    z-index: 1;
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
  }
  
  .suggestions-list li {
    padding: 8px;
    cursor: pointer;
    color: black; 
  }
  
  .suggestions-list li:hover {
    background-color: #f0f0f0;
  }
  